<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>104001916251-2dpl3spe0g0hghikqoo3ihss5n65e9ek.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.104001916251-2dpl3spe0g0hghikqoo3ihss5n65e9ek</string>
	<key>API_KEY</key>
	<string>AIzaSyC5arkgwyb1dQ_iG3FFpM7p76ronQCo-hI</string>
	<key>GCM_SENDER_ID</key>
	<string>104001916251</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.terupro.weatherApp</string>
	<key>PROJECT_ID</key>
	<string>weather-app-6bb99</string>
	<key>STORAGE_BUCKET</key>
	<string>weather-app-6bb99.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:104001916251:ios:60a44d6ed76bd07f3ade7e</string>
</dict>
</plist>